* {
  box-sizing: border-box;
}

article {
  background-color: var(--color-white);
  width: 320px;
  height: 497px;
  text-align: center;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 25%);
}

img {
  width: 288px;
  height: 288px;
  border-radius: 20px;
}

h1 {
  color: var(--color-slate-900);
  font-size: 22px;
  font-weight: 700;
}

p {
  color: var(--color-slate-500);
  font-size: 15px;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 376px) {
  article {
    margin-top: initial;
    margin-top: 157px;
  }
}

@media screen and (min-width: 1000px) {
  article {
    margin-top: initial;
    margin-top: 227px;
  }
}